<% provide(:title, "Home") %>
<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("wesleyAma.jpg", alt: 'Wesley Mito', class:'first-slide' ) %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Entrevista com Safadão</h1>
            <p>Cantor fala sobre carreira, seu amor pelos fãs e novo
              Álbum.</p>
            <p>
              <a class="btn btn-lg btn-danger" href="/artists/Wesley Safadao"
                 role="button">Saiba Mais</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <!-- /.carousel -->
  <div class="col-md-8">
    <div class="row text-center">
      <!-- Inicio Grid -->
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center" style="margin-bottom: 20px;">Bandas
            Recomendadas</h3>
        </div>
      </div>
      <div class="row">
        <% @artists.each do |artista| %>
            <div class="col-md-3" >
              <a href='/artists/<%= artista.name%>'>
                <%= image_tag("batmanAvatar.jpg", alt: artista.name, class:'customThumb img-responsive img-centered' ) %>
                <h4><strong><%=artista.name %></strong></h4></a>
            </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center" style="margin-bottom: 20px;">Bandas
            Mais Ouvidas</h3>
        </div>
      </div>
      <div class="row">
        <% @artists.each do |artista| %>
        <div class="col-md-3" >
          <a href='/artists/<%= artista.name%>'>
            <%= image_tag("batmanAvatar.jpg", alt: artista.name, class:'customThumb img-responsive img-centered' ) %>
          <h4><strong><%=artista.name %></strong></h4></a>
        </div>
        <% end %>
      </div>

    </div>
  </div>
  <!-- fecha o col-md-8(conteudo a esquerda)-->
  <div class="col-md-4">
    <!-- Conteudo a direita-->
    <div class="col-md-10 col-md-offset-2">
      <div class="row">
        <h4 class="text-center">Top Spot-On</h4>
        <div class="tabbable">
          <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Músicas</a></li>
            <li><a href="#tab2" data-toggle="tab">Artistas</a></li>
            <li><a href="#tab3" data-toggle="tab">Gêneros</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="list-group">
                <% @musics.each do |musica| %>
                <a href="#" class='list-group-item'> <strong><%= Artist.find(musica.artists_id).name %> </strong> - <%= musica.name %>
                  <span class='badge'>1</span></a>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="list-group">
                <% @artists.each do |artista| %>
                    <a  href="artists/<%= artista.name%>" class='list-group-item'> <%= artista.name %>
                      <span class='badge'>1</span></a>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              <div class="list-group">
                <% @generos.each do |genero| %>
                    <a  href="#" class='list-group-item'> <%= genero.name %>
                      <span class='badge'>1</span></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Finaliza o container-fluid-->