<% provide(:title, @artist.name.titleize) %>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag("batmanAvatar.jpg", alt: @artist.name, class: "img-thumbnail img-responsive" ) %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h3> <%=@artist.name.titleize %> </h3>
        </div>
        <div class="col-md-8">
          <h5 style="margin-bottom: 30px;">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.

          </h5>
          <h5><strong>Estilo Musical:</strong> <span class="label label-default"><%=@genero.name%></span></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <table class="table table-striped" style="margin-top: 30px;" >
        <tr>
          <th> Música </th>
          <th> Album </th>
          <th> Avaliação Média </th>
          <th> Favorito </th>
        </tr>
        <% @musicas.each do |musica| %>
        <tr>
          <td><%= musica.name %></td>
          <td><%= Album.find(musica.albums_id).name%></td>
          <td> <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
          </td>
          <td><a href='#' class='btn btn-danger'><i class='glyphicon glyphicon-heart'></i></a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Top 10</a></li>
          <li><a href="#tab2" data-toggle="tab">Álbums</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="list-group">
              <% @musicas.each do |musica| %>
              <a href='#' class='list-group-item'><%= musica.name %></a>
              <%end%>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2">
            <div class="list-group">
              <% @albums.each do |album| %>
                  <a href='#' class='list-group-item'><%= album.name %></a>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Finaliza o container-fluid-->
</div>