<% provide(:title, "Edit user") %>
<h3 class="text-center">Atualize seus Dados</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row"  style="margin-bottom:25px;">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Alterar</a>
    </div>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label "Senha" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmaçao" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Salvar Alterações", class: "btn btn-primary pull-right", style:"margin-top:10px;" %>
    <% end %>


  </div>
</div>