<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= home_path%>">Spot-On</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", home_path   %></li>
        <li><%= link_to "Sobre",   sobre_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{user.name}}</strong><span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li class='dropdown-header' ng-hide="logged">Sistemas</li>
            <li><%= link_to "Log in", '#' %></li>
            <li><a href='cadastro' ng-hide="logged">Criar Conta</a></li>
            <hr ng-hide="logged">
            <li class="dropdown-header">Outros</li>
            <li><a href="#">Reportar Bug</a></li>
            <li><a href="#">Sugerir Funcionalidade</a></li>
            <li><%= link_to "Log out", '#' %>>Logout</li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-Wfluid -->
</nav>

<%= yield %>

<footer id="footer" class="footer text-center">
  <div class="container">
    <p class="text-muted"> Sistema de Recomendações | 2015 - Todos os direitos reservados. Desenvolvido por <a href="http://www.pauloxavier.com" target="_blank" >Paulo Xavier</a> e <a href="https://www.facebook.com/gosegobia?fref=ts" target="_blank">Gabriel Segobia.</a><br><a href="mailto:contato.pauloxavier@gmail.com" target="_blank" ><span class="glyphicon glyphicon-envelope"> </span> contato.pauloxavier@gmail.com</a> ou <a href="mailto:segobia.gos@gmail.com" target="_blank" ><span class="glyphicon glyphicon-envelope"> </span> segobia.gos@gmail.com </a></p>
  </div>
</footer>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
